<div class="dots"></div>
<div id="drop-nav">	
    <ul>
        <li><h2><a href="/collections/dog-lamps">Dog Table Lamps</a></h2></li>
        <li><a href="/collections/bull-terrier-dog-lamps">Bull Terrier Table Lamps</a></li>
        <li><a href="/collections/schnauzer-dog-lamps">Schnauzer Table Lamps</a></li>
    </ul>
    <ul>
        <li><h2><a href="/collections/rabbit-table-lamps">Rabbit Table Lamps</a></h2></li>
        <li><a href="/products/edwardian-retro-poppy-the-white-rabbit-table-lamp">Poppy the White Rabbit Table Lamp</a></li>
    </ul>
    <ul>
        <li><h2><a href="/collections/elephant-table-lamps">Elephant Table Lamps</a></h2></li>
        <li><a href="/products/pauli-the-lucky-pink-elephant-table-lamp">Pauli the Pink Elephant Table Lamp</a></li>
    </ul>
</div>