<a href="/collections/abajures-de-animais">
	abajures de animais
</a><span>></span><a href="/collections/{{product.metafields.product.animal}}-lamps">
	abajures {{product.metafields.product.animal}}
</a>