<script>
   $(document).ready(function(){
       $("#onion-dogs").click(function(){window.location = "/collections/onion-dog"});
   })
</script>
<!-- START SHOWCASE -->
<div id="showcase">
 <h1 id="home-h1">&nbsp;We design fun, offbeat things that <a href="/collections/fun-lights">light up</a>. We sell them too.</h1>
 <div id="onion-dogs" style="cursor: pointer;">
	<!--
 	<div id="sorry" style="clear: both;">
 		<div>Sorry...</div>
		that we're out of stock on so many items. The things we make are hand crafted and sometimes we sell them faster than we can make them. We're hoping to get new stock immediately after Easter 2011. If you would like us to tell you when we have stock on any particular item then we'd be <a href="http://lightart.wufoo.com/forms/let-me-know-when-you-have-some/">happy to let you know</a>. We don't want to waste your time so these are things we <a href="/collections/light-art-items-in-stock">currently have in stock</a>.
 	</div> -->
 </div>

 <div id="testimonials">
 	<div class="testimonial">
 &#8220..my partner wanted me to tell you how much he loves the lamp.  It is beautifully made, and our dogs are fascinated by it!&#8221
 	<div class="signature">Siobhan, Bermondsey.<br/>December 2010.</div>
    </div>
    <div class="testimonial">
"Thank you so much for your excellent service, I received  &lsquo;Onion&rsquo; yesterday and am thrilled with him"
	<div class="signature">Joy, Lincoln.<br/>October 2010.</div>    	
    </div>
    <div class="testimonial">
"You are a great advert for why we should all continue to have faith in shopping online.
Thanks so much.""
    <div class="signature">June, Glasgow.<br/>December 2010.</div>   	
    </div>
 </div>
 
</div>
<!-- END SHOWCASE -->