<script type="text/javascript">
   
    var LightArt = {
        Splasher: {
			splasherIndex: 0,
			splasherCount: 0,
			splashId: null,
			splashImageId: null,
			splashImages: null,
			splashTextId: null,
			splasherTops: function(height){
				var top = 0; 
				$(LightArt.Splasher.splashImageId).children().each(function(){
					$(this).css("top", top + "px");
					top -= height;
				});
			},
			go: function(){
				
				if(LightArt.Splasher.imagesLoaded()){
					LightArt.Splasher.slideDiv();
				}else{
					window.setTimeout("LightArt.Splasher.go()",250);
				}
			},
			imagesLoaded: function(){
				LightArt.Splasher.splashImages.each(function(){
					if(!this.complete){
						return false;
					}
					
				})
				return true;
			},
			init: function(args){
				LightArt.Splasher.splasherCount = args.count;
				LightArt.Splasher.splashId = args.splash;
				LightArt.Splasher.splashImageId = args.splashImage;
				LightArt.Splasher.splashImages = $(args.splashImage).find("img");
				LightArt.Splasher.splashTextId = args.splashText;
				LightArt.Splasher.splasherTops(args.image_height);
				LightArt.Splasher.go();
			},
			slideDiv: function(){			
				if (LightArt.Splasher.splasherIndex > LightArt.Splasher.splashImages.length)
				    return;

				LightArt.Splasher.splasherIndex++;
				i = LightArt.Splasher.splasherIndex
				
				$(LightArt.Splasher.splashImageId).find("div:nth-child(" + i + ")").animate({left: (i*220 - 220)}, 1000, null, LightArt.Splasher.fadeInDiv(i));
			},
			fadeInDiv: function(i){
				$(LightArt.Splasher.splashTextId).find("div:nth-child(" + i + ")").fadeIn(1000, LightArt.Splasher.slideDiv)
			}
		}
	}
	
	
	$(document).ready(function(){
	   	LightArt.Splasher.init({width: 880, 
									image_height: 200, 
									text_height: 200, 
									count: 4, 
									splash: '#splasher', 
									splashText: '#splash-text',
									splashImage: '#splash-images'});
	});
	
	
	
</script>
<!-- START SHOWCASE -->

 <h1>Unique & Exclusive Lamps by Myra Heller.</h1>

		<div id="splasher">
			<div id="splash-images" style="position: relative;">
				<div style="background-color: #c9d9e0;" class="image block">
					<a href="/products/arche-the-whippet-table-lamp"><img alt="tiger cub lamp" src="{{'archie_whippet_dog_table_lamp_head.jpg' | asset_url}}" /></a>
				</div>
				<div style="background-color: black;" class="image block">
					<a href="/products/blake-tiger-cub-table-lamp"><img alt="tiger cub lamp on" src="{{'blake_tiger_cub_lamp_on.png' | asset_url}}" /></a>
				</div>
				<div style="background-color: #979a9e;" class="image block">
				    <a href="/collections/bull-terrier-dog-lamps"><img alt="bull terrier dog lamp" src="{{'white_bull_terrier_lamp_off.png' | asset_url}}" /></a>
				</div>
				<div style="background-color: orange;" class="image block">
					<a href="/collections/bull-terrier-dog-lamps"><img alt="bull terrier dog lamp on" src="{{'white_bull_terrier_lamp_on.png' | asset_url}}" /></a>
				</div>
			</div>
			<div id="splash-text">
				<div style="background-color: #c9d9e0;" class="text block white">
					<h2><a href="/collections/original-table-lamps" style="text-decoration: none;">Original</a><span class="dot">.</span></h2>
					<p>Because everything seems to be copied these days.</p>
				</div>
							
				<div style="background-color: black;" class="text block black">
					<h2><a href="/collections/fun-table-lamps" style="text-decoration: none;">Fun</a><span class="dot">.</span></h2>
					<p>Because that's who we are.</p>
				</div>
				<div style="background-color: #876f5d;" class="text block brown">
					<h2><a href="/collections/inexpensive-table-lamps" style="text-decoration: none;">Inexpensive</a><span class="brown_dot">.</span></h2>
					<p>So that anyone can enjoy the things we make.</p>
				</div>
				<div style="background-color: #b25500;" class="text block orange">
					<h2><a href="/collections/handmade-table-lamps" style="text-decoration: none;">Handmade</a><span class="orange_dot">.</span></h2>
					<p>Because not everything need come from a factory.</p>
				</div>
			</div>
		</div>
		
<p style="padding: 10px 20px 10px 20px; background-color: black; color: white; font-size: 1.2em; margin: 0 0 10px 0">
<a href="/collections/dog-lamps">dog lamps</a> | <a href="/collections/rabbit-table-lamps">rabbit lamps</a> | <a href="/collections/elephant-table-lamps">elephant lamps</a>
</p>

<p style="padding: 10px 20px 10px 20px;margin: 0 0 10px 0; background-color: #c9d9e0; color: black; font-family: 'carme', 'sans-serif'; font-size: 1.2em;">
	"Have you noticed those cool dog lamps that are often scattered around the Gonzo set - we get them from www.light-art.co.uk -check it out!"
	<span style="font-family: arial"><a style="font-weight: bold;" href="http://www.light-art.co.uk/blogs/news/3682442-light-art-mtv-and-alexa-chung">&nbsp;MTV. Gonzo with Alexa</a></span>
</p>

<div id="specials">
	<div class="special special_left rounded3">
		<h2>Blake.</h2><a href="/products/blake-tiger-cub-table-lamp">Raising money with 21st Century Tiger</a> for wild tiger conservation.
	</div>
	<div class="special special_right rounded3">
		<h2>Special Offer.</h2>£25 off <a href="/products/pauli-the-lucky-pink-elephant-table-lamp">our last few Paulis</a>.
	</div>
	<div style="clear: both;"></div>
</div>

 <div id="testimonials">
 	<div class="testimonial">
 "..my partner wanted me to tell you how much he loves the lamp.  It is beautifully made, and our dogs are fascinated by it!"
 	<div class="signature">Siobhan, Bermondsey.</div>
    </div>
    <div class="testimonial">
"Thank you so much for your excellent service, I received  &lsquo;Onion&rsquo; yesterday and am thrilled with him"
	<div class="signature">Joy, Lincoln.</div>    	
    </div>
    <div class="testimonial">
"You are a great advert for why we should all continue to have faith in shopping online.
Thanks so much."
    <div class="signature">June, Glasgow.</div>   	
    </div>
 </div>
 

<!-- END SHOWCASE -->