<link rel="stylesheet" type="text/css" href="tiger.css">
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
    <div id="container">
			<img src="http://cdn.shopify.com/s/files/1/0053/6462/assets/tyger-tyger.jpg" />
      <div class="yellow">
        <div class="yellow-left shine-a-light">
					<img src="http://cdn.shopify.com/s/files/1/0053/6462/assets/shine-a-light.png" /></div>
      <img style="float: left;" src="http://cdn.shopify.com/s/files/1/0053/6462/assets/muscular-tiger-stripes.jpg" />
        <div style="clear: both;"></div>
			</div>
      <div id="make-a-difference" class="text-area">
        <p>Fewer than 3,200 tigers are left in the wild compared to 100,000 a
				century ago. The species is endangered but across the world people of
				all ages and backgrounds are making a real difference.</p> 

				
        
        
        
        
        
        
        <p>Here's one success story:</p>
        <p>The Fauna and Flora International Kerinci-Seblat Tiger Project in
				Indonesia runs five four-man teams that promote sustainable 
				conservation by:</p>
        <ol>
          <li>patrolling for poachers.</li> 
					
          
          
          
          
          
          
          <li>enforcing animal-trade laws.</li>
          <li>intervening where tigers &amp; humans collide to protect both animals and people.</li>
        </ol>	
				
        
        
        
        
        
        
        <p>Over the last few years the tiger population within the protected area has increased from 134 to 177 individuals with over £317,000 of its funding coming from <a href="http://www.21sCenturyTiger.org">21st Century Tiger</a>.</p>
        <p><a href="http://www.21sCenturyTiger.org">21st Century Tiger</a> also supports projects in Russia, Thailand, China and India.</p>
			</div>
      <div id="light-art-and-21century-tiger" class="text-area">
        <p>We are a commercial art studio making <a href="http://www.light-art.co.uk">hand crafted table lamps</a>. Our first design, Onion, became a design icon 
				so we decided we'd use our experience 
				to help wild tigers.</p>
        <p>We've joined forces 
				with <a href="http://www.21sCenturyTiger.org">21st Century Tiger</a>, a wild tiger 
				conservation partnership between Global 
				Tiger Patrol and the Zoological Society 
				of London, to design, create and market a special 
				Tiger Lamp ‐ with profits going directly 
				to wild tiger conservation projects.</p>
			</div>
      <div id="you-can-help-wild-tigers" class="text-area">
        <h2>“Tyger, tyger burning bright, in the 
				forests of the night...“</h2>
			</div>
      <div class="text-area">
        <p>We all know the famous poem by William 
					Blake – so our special Tiger Cub Lamp is 
					inspired by these timeless words.
					BLAKE has just arrived back from 
					production in Bavaria, ready to look 
					stunning and stylish in homes everywhere 
					and help raise money for his brothers and 
					sisters in the wild.</p>
        <p>To purchase your very own Blake <a href="http://www.light-art.co.uk/products/blake-tiger-cub-table-lamp">go to his page</a> on the Light Art website.</p>	
			</div>	
			
			
      
      
      
      
      
      
      <div class="yellow">
        <div class="black">
					
					<img src="http://cdn.shopify.com/s/files/1/0053/6462/assets/how-you-can-make-a-difference.png" />
          <p>You don't have to buy BLAKE [though we'd like you to, of course]  
					- you can help us just by spreading the word and getting his name out there.</p>
          <ul>
            <li>Join Blake's Facebook page</li>
            <li>Follow Blake on Twitter</li>
            <li>Tell family, friends and colleagues at 
						work and encourage them to buy a Blake 
						lamp, pass the message on, and make 
						Blake a household name</li>
          </ul>	
					
          
          
          
          
          
          
          <div id="grass">
            <table>
              <tbody>
                <tr>	
								
                  
                  
                  
                  
                  
                  
                  <td>...Or you can <a href="#">get the Badge!!!</a><br />
                  <br />Just copy the code in the link above and paste it into your website or blog and help us build a tiger network for Blake.
								</td>
                  <td><img src="http://cdn.shopify.com/s/files/1/0053/6462/assets/blake-badge.png" /></td>
							</tr>
              </tbody>
            </table>	
					</div>
          <div style="clear:both;">&nbsp;</div>
        </div>
        <div style="clear:both;">&nbsp;</div>
			</div>
    </div>
